@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Imports css */
@import url('forms/sendUsAmessage.css');

/* custom styles for terms and conditions page lists */
.postContent ol {
  counter-reset: item;
  margin-top: 16px;
}

.postContent ol > li {
  display: block;
  margin-bottom: 16px;
}

.postContent ol > li > p {
  display: inline;
}

.postContent ol > li:before {
  content: counters(item, '.') '. ';
  counter-increment: item;
}

.postContent ol ol ol > li {
  display: flex;
  gap: 0.3rem;
}

.postContent ol ol ol > li:before {
  content: '•';
}

/* Safari list style fix */
.list-none {
  list-style-type: none;
}
.list-none::-webkit-details-marker {
  display: none;
}

/* Pagination container */
.swiper-pagination {
  text-align: center;
}

@media (min-width: 768px) {
  .swiper-pagination {
    text-align: left !important;
    padding-left: 30px;
    /* left: 78px !important; Matches the padding of your hero content */
  }
}

/* Individual pagination bullet */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent !important;
  border: 1px solid white;
  opacity: 1 !important;
}

/* Active pagination bullet */
.swiper-pagination-bullet-active {
  background: white !important;
  border: none;
}

.hero-swiper .swiper-pagination {
  max-width: 1280px !important;
  width: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  position: absolute !important;
  bottom: 20px !important;
  padding: 0 20px;
}
